body {
  background-image: url("images/Neon_Genesis_Evangelion_EVA_Unit_01-25584-483629627.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #f4f4f4;
}

@media (max-width: 768px) {
  body {
    background-attachment: scroll;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.btn-flotante {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1000;
}

.btn-flotante img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-flotante img:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

header {
  background-color: #4caf50;
  color: white;
  padding: 10px 0;
  text-align: center;
}

main {
  padding: 20px;
}

footer {
  padding: 10px 0;
  background-color: #4caf50;
  color: white;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}

container {
  max-width: 1200px;
  margin: 20px;
  padding: 20px;
  overflow: auto;
  color: #f4f4f4;
}

h1 {
  color: #f4f4f4;
}

p {
  line-height: 1.6;
  color: #f4f4f4;
}
a:visited{
    color: #f4f4f4;
}
a{
    color: #f4f4f4;
}
.dropdown-content {
  display: none;
  position:fixed ;
  top: 50px;
  left: 20px;
  color: #f4f4f4;
  background-color:rgb(123, 9, 151);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: right 0.3s ease;
  overflow-x:hidden;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
body.overlay-active::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.dropdown-content a:hover {
  background-color: #ddd;
  transform: scale(1.02);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.show {
  display: block;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.gallery img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.gallery img:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 480px) {
  header,
  footer {
    font-size: 14px;
  }
}

